<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="site BNB" />
    <meta ="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="autor" content="Olha NEKRASHEVYCH" />
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />

    <title>Admin - {% block title %}base{% endblock %}</title>
  </head>
  {% block body %}{% endblock %} {% block javascripts %}{% endblock %}
  <body>
    <header>
      <div class="container-fluid m-0 p-0">
        <div class="jumbotron mb-0 bg-dark text-white text-center">
          <h1>BNB - espace adminisrateur</h1>
          <p>Bienvenue sur l'espace adminisrateur du site BNB</p>
        </div>
      </div>
    </header>
    <div class="container-fluid text-center">
      <div class="row">
        <div class="col-2 py-3 pl-5 text-left bg-light">
          <ul>
              <li><a href="{{ path('admin') }}">Accueil admin</a></li>
            <li><a href="{{ path('admin_maisons') }}">Maisons</a></li>
            <li><a href="#">Appartements</a></li>
            <li><a href="{{ path('home') }}">Retor au site</a></li>
            <li><a href="#">Déconnexion</a></li>
          </ul>
        </div>
        <div class="col-10 p-3">
          <p>Les formulaires ici</p>
        </div>
      </div>
    </div>
    <footer>
      <div class="container-fluid">
        <div class="row bg-dark text-center text-white">
          <div class="col-12 p-3 font-weight-light">
            {{ copyright | raw }}
          </div>
        </div>
      </div>
    </footer>

    <script src="
        https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    {% block stylesheets %}{% endblock %}
  </body>
</html>
